/*#region menu-main */
.menu-main { transition: all .7s; position: fixed; top: 0; left: 0; right: 0; z-index: 2; width: 100vw; }
.menu-main-container { padding: 5px 10px; display: flex; flex-direction: row; justify-content: space-around; align-items: center; }
.menu-main-container .toggler-menu i { color: #ffffff; cursor: pointer; font-size: 1.5rem; transition: all .3s; }
.menu-main-container .toggler-menu:hover i { color: #ffff00; }
.menu-main-container .brand { width: 200px; }
.menu-main-container .brand img { width: 100%; height: 100%; }
.menu-main-container .list-menu { display: flex; flex-direction: row; }
.menu-main-container .list-menu-item { padding: 0 10px; }
.menu-main-container .list-menu-item__link { font-size: 1.1rem; font-weight: 500; color: #ffffff; transition: all .3s; }
.menu-main-container .list-menu-item__link:hover { color: #ffff00; }
.menu-main-container .toggler-cart i { color: #ffffff; cursor: pointer; font-size: 1.5rem; transition: all .3s; }
.menu-main-container .toggler-cart:hover i { color: #ffff00; }
.menu-main .mask { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 9; background-color: rgba(0, 0, 0, 0.8); transition: all .3s; }
.menu-main .close-menu { position: fixed; right: 23px; top: 20px; z-index: 11; cursor: pointer; }
.menu-main .close-menu:hover span { color: #ffff00; }
.menu-main .close-menu span { transition: all .3s; color: #f5fb7d; font-size: 3rem; font-weight: bold; }

.menu-main.ticky-menu { background-color: #ed3523; }

/*#region menu-nav */
.menu-navigation-container { position: fixed; top: 0; left: -270px; z-index: 10; display: flex; flex-direction: column; width: 270px; height: 100%; padding: 60px 0 0 0px; background-color: white; transition: ease-out .3s; }
.menu-navigation-container .box-search { padding-bottom: 20px; text-align: center; border-bottom: 1px solid rgba(102, 102, 102, 0.08); }
.menu-navigation-container .box-search input { padding-left: 10px; height: 33px; border: 1px solid rgba(102, 102, 102, 0.17); }
.menu-navigation-container .box-search input:focus { outline: none; box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.12); }
.menu-navigation-container .box-search i { color: #ffffff; background-color: #ffff00; padding: 9px; margin-left: -4px; }
.menu-navigation-container .list-menu-item { border-bottom: 1px solid rgba(102, 102, 102, 0.08); padding: 15px 0 15px 20px; }
.menu-navigation-container .list-menu-item__link { color: #666666; font-weight: 600; transition: all .4s; }
.menu-navigation-container .list-menu-item:hover { background-color: rgba(0, 0, 0, 0.05); }
.menu-navigation-container .list-menu-item:hover .list-menu-item__link { color: rgba(0, 0, 0, 0.9); }
.menu-navigation-container .box-social { display: flex; flex-direction: row; padding: 15px 0 0 10px; }
.menu-navigation-container .box-social li { padding: 0 10px; }
.menu-navigation-container .box-social li a i { color: #666666; font-size: 1.2rem; }

.menu-navigation-container.is-active { left: 0px; }

.cart-navigation-container { position: fixed; top: 0; right: -270px; z-index: 10; display: flex; flex-direction: column; width: 270px; height: 100%; padding: 60px 0 0 0px; background-color: white; transition: ease-out .3s; text-align: center; }
.cart-navigation-container .box-title h4 { font-size: 1.3rem; font-weight: 600; text-transform: uppercase; }
.cart-navigation-container .box-title .divider hr { width: 40px; height: 1px; background-color: rgba(102, 102, 102, 0.5); margin: 15px auto; }

.cart-navigation-container.is-active { right: 0; }

/*#endregion */
/*#endregion */
/*#region main */
#main { /*position: absolute;
top: 0;
left: 0;
z-index: 1;*/ }

/*#region banner */
.banner { height: 100vh; width: 100vw; overflow: hidden; }
.banner .banner-bg { width: 100%; height: 100%; background: url("../images/background/slider-banner.jpg") no-repeat center; background-size: cover; transition: all 4s; }
.banner .banner-bg:hover { transform: scale(1.3); }
.banner .banner-bg:hover .banner-bg-content { transform: scale(0.8); }
.banner .banner-bg-content { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; transition: all 4s; }
.banner .banner-bg-content .box-text { transition: all 4s; text-align: center; }
.banner .banner-bg-content .box-text h1 { color: #ffffff; font-size: 3rem; letter-spacing: 3px; font-weight: 700; }
.banner .banner-bg-content .box-text h4 { color: #ffffff; font-size: 2rem; font-weight: 700; }
.banner .banner-bg-content .box-text .line hr { width: 200px; height: 1.5px; background-color: rgba(255, 255, 255, 0.5); margin: 20px auto; }
.banner .banner-bg-content .box-text p { display: flex; flex-direction: column; color: #ffff00; align-items: center; font-size: 1.4rem; font-style: italic; font-weight: 600; line-height: 2.5rem; }

@media (max-width: 767.98px) { .banner { height: 500px; }
  .banner .banner-bg .box-text h1 { font-size: 2rem; letter-spacing: 3px; font-weight: 700; }
  .banner .banner-bg .box-text h4 { font-size: 1.5rem; font-weight: 700; }
  .banner .banner-bg .box-text .line hr { width: 200px; height: 1.5px; background-color: rgba(255, 255, 255, 0.5); margin: 20px auto; }
  .banner .banner-bg .box-text p { align-items: center; font-size: 1.1rem; font-weight: 600; line-height: 2.5rem; } }
@media (max-width: 575.98px) { .banner { height: 350px; }
  .banner .banner-bg .box-text { padding-top: 100px; }
  .banner .banner-bg .box-text h1 { font-size: 1.5rem; letter-spacing: 2px; font-weight: 700; }
  .banner .banner-bg .box-text h4 { font-size: 1.2rem; font-weight: 700; }
  .banner .banner-bg .box-text .line hr { width: 200px; height: 1.5px; background-color: rgba(255, 255, 255, 0.5); margin: 20px auto; }
  .banner .banner-bg .box-text p { align-items: center; font-size: 0.8rem; font-weight: 600; line-height: 2rem; } }
/*#endregion */
/*#region wishes */
.wishes-bg { background: url("../images/background/gia-dinh-dem-trang.jpg") no-repeat center; background-size: cover; background-attachment: fixed; }
.wishes-bg-overlay { background-color: rgba(0, 0, 0, 0.8); }
.wishes-bg-overlay .wishes-content { padding: 100px 0; }
.wishes-bg-overlay .wishes-content .wishes-item .title { color: #ed3523; font-size: 1.5rem; padding-bottom: 15px; }
.wishes-bg-overlay .wishes-content .wishes-item .list-text { display: flex; flex-direction: column; }
.wishes-bg-overlay .wishes-content .wishes-item .list-text li { padding-bottom: 15px; color: #ffffff; }
.wishes-bg-overlay .wishes-content .wishes-item .box-img { width: 80%; }
.wishes-bg-overlay .wishes-content .wishes-item .box-img img { width: 100%; }
@media (max-width: 767.98px) { .wishes-bg-overlay .wishes-content .wishes-item { padding-bottom: 20px; }
  .wishes-bg-overlay .wishes-content .wishes-item .list-text li { padding-bottom: 15px; }
  .wishes-bg-overlay .wishes-content .wishes-item .box-img { width: 160px; margin: 0 auto; } }
@media (max-width: 767.98px) { .wishes-bg-overlay .wishes-content { padding: 40px 0; } }

/*#endregion */
/*#region collection */
.collection-bg { background: url("../images/background/bg-1.jpg") no-repeat; background-size: cover; background-position: 0 0; }
.collection-bg-content { padding: 100px 0 60px 0; }
.collection-bg-content .box-text-collection { text-align: center; }
.collection-bg-content .box-text-collection .h2-1 { color: #b20000; font-weight: bold; font-size: 1.8rem; }
.collection-bg-content .box-text-collection .h2-2 { color: #ed3523; font-weight: bold; font-size: 1.8rem; padding: 15px 0; }
.collection-bg-content .box-text-collection .devider hr { margin: 0 auto; height: 1.5px; width: 400px; background-color: rgba(255, 255, 255, 0.5); }
@media (max-width: 575.98px) { .collection-bg-content .box-text-collection .h2-1 { font-size: 1.3rem; }
  .collection-bg-content .box-text-collection .h2-2 { font-size: 1.3rem; padding: 10px 0; }
  .collection-bg-content .box-text-collection .devider hr { width: 200px; }
  .collection-bg-content .box-text-collection .box-title-sec { padding: 10px 0 40px 0; }
  .collection-bg-content .box-text-collection .box-title-sec h3 { font-size: 1.8rem; } }
.collection-bg-content .item-carousel .box-img { position: relative; text-align: center; overflow: hidden; }
.collection-bg-content .item-carousel .box-img span { position: absolute; bottom: -40px; left: 0; right: 0; width: 100%; background-color: #ed3523; padding: 5px 0; text-transform: uppercase; color: #ffffff; transition: all .3s; }
.collection-bg-content .item-carousel .box-text { text-align: center; padding: 20px 0; display: flex; flex-direction: column; background-color: #ffffff; }
.collection-bg-content .item-carousel .box-text__title { color: #666666; }
.collection-bg-content .item-carousel .box-text__price { padding: 10px 0; font-weight: bold; font-size: 1.2rem; }
.collection-bg-content .item-carousel .box-text__btn { padding: 10px 10px; background-color: #ed3523; color: #ffffff; transition: all .3s; width: 70%; margin: 0 auto; }
.collection-bg-content .item-carousel:hover .box-img span { bottom: 0; }
.collection-bg-content .item-carousel:hover .box-text__btn { background-color: #b20000; }
@media (max-width: 767.98px) { .collection-bg .collection-bg-content { padding: 40px 0 60px 0; } }

.box-text-collection { text-align: center; }
.box-text-collection .h2-1 { color: #b20000; font-weight: bold; font-size: 1.8rem; }
.box-text-collection .h2-2 { color: #ed3523; font-weight: bold; font-size: 1.8rem; padding: 15px 0; }
.box-text-collection .devider hr { margin: 0 auto; height: 1.5px; width: 400px; background-color: rgba(255, 255, 255, 0.5); }

.box-title-sec { position: relative; padding: 20px 0 40px 0; margin-bottom: 40px; }
.box-title-sec h3 { font-weight: bold; font-size: 1.8rem; }
.box-title-sec:before { position: absolute; bottom: 0.75rem; content: ''; left: 50%; transform: translateX(-50%); width: 100px; height: 2px; background: linear-gradient(to right, #ed3523 0%, #ed3523 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 75%, #ed3523 75%); }
.box-title-sec::after { position: absolute; bottom: 0; content: '\f2e0'; font-family: FontAwesome; left: 50%; transform: translateX(-50%); font-size: 23px; line-height: 1; color: #ed3523; }

/*#endregion */
/*#region video */
.video-bg-content { padding: 100px 0; }
.video-bg-content .box-item-video { text-align: center; padding: 10px 0; }
.video-bg-content .box-item-video .box-icon { width: 120px; margin: 0 auto; }
.video-bg-content .box-item-video .box-icon img { width: 100%; }
.video-bg-content .box-item-video p { font-weight: bold; color: #000000; font-size: 1.3rem; }

/*#endregion */
/*#region cake */
.cake-bg { background: url("../images/background/bg-mooncake.jpg") no-repeat center; background-size: cover; }
.cake-bg-overlay { background-color: rgba(0, 0, 0, 0.4); }
.cake-bg-overlay .cake-content { padding: 80px 0; }
.cake-bg-overlay .cake-content .box-text-cake { text-align: center; padding-bottom: 40px; }
.cake-bg-overlay .cake-content .box-text-cake h2 { color: #ffffff; font-size: 2.6rem; font-weight: bold; }
.cake-bg-overlay .cake-content .box-text-cake h4 { color: #ffffff; font-size: 1.5rem; font-weight: bold; padding: 15px 0; }
.cake-bg-overlay .cake-content .box-text-cake p { color: #ffff00; font-size: 1rem; font-style: italic; padding-bottom: 10px; line-height: 1.5rem; }
.cake-bg-overlay .cake-content .box-img { margin: 5px; padding: 4px; border: 1px solid #ffffff; }
.cake-bg-overlay .cake-content .box-img img { border: 1px solid #ffffff; }
.cake-bg-overlay .cake-content .divider hr { height: 1.5px; width: 600px; background-color: rgba(255, 255, 255, 0.5); margin: 80px auto; }
@media (max-width: 575.98px) { .cake-bg-overlay .cake-content { padding: 40px 0; }
  .cake-bg-overlay .cake-content .box-text-cake { padding-bottom: 40px; }
  .cake-bg-overlay .cake-content .box-text-cake h2 { font-size: 2rem; }
  .cake-bg-overlay .cake-content .box-text-cake h4 { font-size: 1.3rem; padding: 15px 0; }
  .cake-bg-overlay .cake-content .box-text-cake p { padding-bottom: 10px; }
  .cake-bg-overlay .cake-content .divider hr { width: 100px; margin: 40px auto; } }

/*#endregion */
/*#region story */
.story-bg { background: url("../images/background/bg-1.jpg") no-repeat; background-size: cover; background-position: 100% 0; }
.story-bg-content { padding: 50px 0 70px 0; }
.story-bg-content .box-title-sec { margin-bottom: 20px; }
.story-bg-content .box-title-sec h3 { color: #ed3523; }
.story-bg-content .box-story { text-align: justify; }
.story-bg-content .box-story p { font-size: 1.1rem; padding: 5px 0; letter-spacing: 0.6px; }
@media (max-width: 575.98px) { .story-bg-content { padding: 30px 0 40px 0; } }

/*#endregion */
/*#region post */
.post-bg { background-color: #f6f7fa; }
.post-bg-content { padding: 80px 0 50px 0; }
.post-bg-content .container .row .col-12 { padding: 0px; }
.post-bg-content .container .row .col-12 .img-fluid { width: 100%; }
.post-bg-content .box-post-item { width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; background-color: #ffffff; }
.post-bg-content .box-post-item-content { padding: 15px 20px; }
.post-bg-content .box-post-item-content h5 { font-size: 1.3rem; color: #ed3523; font-weight: bold; }
.post-bg-content .box-post-item-content p { text-align: justify; padding: 15px 0; line-height: 1.8rem; font-size: 1.1rem; }
.post-bg-content .box-post-item-content a { display: inline-block; font-weight: bold; padding: 5px 10px; background-color: #ed3523; color: #ffffff; }

/*#endregion */
/*#region rating */
.rating-bg { background: url("../images/background/bg-1.jpg") repeat; background-size: cover; }
.rating-bg-content { padding: 50px 0; }
.rating-bg-content .rating-left .list-text-item { display: flex; align-items: center; padding-bottom: 10px; }
.rating-bg-content .rating-left .list-text-item p { line-height: 1.8rem; }
.rating-bg-content .rating-left .list-text-item p i { color: #ed3523; }
.rating-bg-content .rating-right .carousel-rating .item-carousel .box-text h5 { font-weight: bold; }
.rating-bg-content .rating-right .carousel-rating .item-carousel .box-text p { padding-top: 15px; line-height: 1.8rem; text-align: justify; }
.rating-bg-content .box-title-sec { margin-bottom: 20px; }
.rating-bg-content .box-title-sec h3 { color: #ed3523; }

/*#region carousel-rating */
.rating .carousel-rating { position: relative; }
.rating .carousel-rating .owl-nav .owl-prev { position: absolute; top: 30%; left: 0; transition: all .4s; opacity: 0; margin: 20px; border: none; background-color: transparent !important; outline: none !important; }
.rating .carousel-rating .owl-nav .owl-prev i { color: #ffffff; font-size: 1.3rem; border: none; background-color: transparent !important; outline: none !important; }
.rating .carousel-rating .owl-nav .owl-next { position: absolute; top: 30%; right: 0; transition: all .4s; opacity: 0; margin: 20px; background-color: transparent !important; outline: none !important; }
.rating .carousel-rating .owl-nav .owl-next i { color: #ffffff; font-size: 1.5rem; background-color: transparent !important; outline: none !important; }
.rating .carousel-rating .owl-dots .owl-dot.active span { background-color: #ffffff; }
.rating .carousel-rating .owl-dots .owl-dot span { background-color: rgba(255, 255, 255, 0.5); }
.rating .carousel-rating:hover .owl-nav .owl-prev { left: -40px; opacity: 1; background-color: transparent; outline: none; border: none; }
.rating .carousel-rating:hover .owl-nav .owl-next { right: -40px; opacity: 1; background-color: transparent; outline: none; border: none; }
@media (max-width: 595.98px) { .rating .carousel-rating:hover .owl-nav .owl-prev { left: -20px; opacity: 1; }
  .rating .carousel-rating:hover .owl-nav .owl-next { right: -20px; opacity: 1; } }

/*#endregion */
/*#endregion */
/*#region contact */
.contact-bg { background-color: #f6f7fa; }
.contact-bg-overlay .contact-content { padding: 70px 0; }
.contact-bg-overlay .contact-content .contact-left { text-align: center; }
.contact-bg-overlay .contact-content .contact-left h4 { color: #ed3523; font-size: 2rem; padding-bottom: 15px; font-weight: bold; }
.contact-bg-overlay .contact-content .contact-right .box-text h4 { color: #ed3523; font-size: 2rem; padding-bottom: 15px; font-weight: bold; }
.contact-bg-overlay .contact-content .contact-right .box-text .list-text-item { padding: 10px 0; }

/*#endregion */
/*#endregion */
/*#region footer */
.footer-bg { background: url("../images/background/bg-4.jpg") no-repeat center; background-size: cover; }
.footer-bg-overlay { background-color: rgba(0, 0, 0, 0.7); }
.footer-bg-overlay .footer-content { padding-top: 80px; }
.footer-bg-overlay .footer-content-top .footer-item { padding-bottom: 80px; }
.footer-bg-overlay .footer-content-top .footer-item .box-text h4 { color: #ffffff; font-size: 1.7rem; padding-bottom: 20px; text-align: center; }
.footer-bg-overlay .footer-content-top .footer-item .box-text .list-text-item { padding-bottom: 15px; }
.footer-bg-overlay .footer-content-top .footer-item .box-text .list-text-item__link { color: #ffffff; font-size: 1.4rem; }
.footer-bg-overlay .footer-content-top .footer-item .box-text .list-text-item__link i { padding: 5px; border-radius: 50%; }
.footer-bg-overlay .footer-content-top .footer-item .box-text .list-social { display: flex; }
.footer-bg-overlay .footer-content-top .footer-item .box-text .list-social-item { padding-right: 20px; }
.footer-bg-overlay .footer-content-top .footer-item .box-text .list-social-item a { color: #ffffff; font-size: 1.4rem; }
.footer-bg-overlay .footer-content-top .footer-item .box-text .list-social-item a i { padding: 5px; }
.footer-bg-overlay .footer-content-bot { text-align: center; background-color: #000000; padding: 20px 0; }
.footer-bg-overlay .footer-content-bot p { color: #ffffff; }

/*#endregion */

/*# sourceMappingURL=style.css.map */
